<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>

	<appender name="logfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./logs/hps.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c [%t] %m%n" />
		</layout>
	</appender>
    
    <logger name="net.sf.ehcache">
        <level value="ERROR"/>
    </logger>

    <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
    <logger name="org.springframework.security">
        <level value="ERROR"/>
    </logger>

    <logger name="org.apache">
        <level value="ERROR"/>
    </logger>

    <logger name="org.apache.velocity">
        <level value="ERROR"/>
    </logger>

    <!-- Suppress invalid warning messages from JSF -->
    <logger name="org.apache.myfaces">
        <level value="ERROR"/>
    </logger>

    <!-- Suppress warnings from Struts -->
    <logger name="org.apache.struts2.util.TextProviderHelper">
      <level value="ERROR"/>
    </logger>

    <logger name="com.opensymphony.xwork2.util.OgnlUtil">
       <level value="ERROR"/>
    </logger>

    <logger name="com.opensymphony.xwork2.ognl.OgnlValueStack">
       <level value="ERROR"/>
    </logger>

    <logger name="org.dbunit">
        <level value="ERROR"/>
    </logger>

    <logger name="org.hibernate">
        <level value="ERROR"/>
    </logger>
  
    <!--logger name="org.hibernate.SQL">
        <level value="DEBUG"/>
    </logger-->

    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>

    <logger name="org.appfuse">
        <level value="ERROR"/>
    </logger>

    <logger name="org.appfuse.tool">
        <level value="ERROR"/>
    </logger>

    <root>
        <level value="ERROR"/>
        <appender-ref ref="logfile"/>
    </root>

</log4j:configuration>
